<div class="container"> 
    <div class = "grid-container-four">
        <div class = "cardBody center">
            <img src="assets/robot-2.jpg" alt="picture a robot">
            <img src="assets/robot.jpg" alt="picture a robot">    

            <p> I've always had a strong interest in both hardware and software. 
                In high school, I was part of our FIRST robotics team, where we designed and built robots to compete in competitions
            </p>
        </div>

        <div class = "cardBody center">
            <img src="assets/sunset.jpg" alt="cool image I took">
            <img src="assets/waterfall.jpg" alt="cool image I took">
            <img src="assets/CrescentNebula.jpg" alt="cool image I took">
                    
            <p>Among my many hobbies, photography stands out as a passion I've pursued for years. 
                Recently, I've been exploring the captivating worlds of film and astrophotography.</p>
        </div>
            
        <div class = "cardBody center">
            <img src="assets/pizza.jpg" alt="food i've made">
            <img src="assets/pie.jpg" alt="food i've made">
            <img src="assets/Timbits.jpg" alt="food i've made">
            
            <p>Another passion of mine is cooking. 
                I love experimenting with new recipes and have created a wide range of delicious dishes.
            </p>
        </div>


        <div class = "cardBody center">
            <img src="assets/gentlemen.jpg" alt="food i've made">
            <img src="assets/cute-cat.jpg" alt="food i've made">
            <img src="assets/sleeping_dog.jpg" alt="food i've made">
            
            <p>
                Another thing about me is that I love animals. 
                Here is my dog Shaggy and my cat Nytro
            </p>
        </div>
        
    </div>
</div> 
