<div class="container"> 
    <div class = "grid-container">
    <div class = "center">
        <img src="assets/robot-2.jpg" alt="picture a robot" style="height: 200px;">
        <img src="assets/robot.jpg" alt="picture a robot" style="height: 200px;">    

        <p> I've always been into hardware and software. In highschool I was on our first
            robotics team where we built and designed robots to fight in competitions.
        </p>
    </div>

    <div class = "center">
        <img src="assets/photography.jpg" alt="cool image I took" style="height:200px;">
        <img src="assets/waterfall.jpg" alt="cool image I took" style="height:200px;">
        <img src="assets/CrescentNebula.png" alt="cool image I took" style="height:200px;">
                
        <p>More personally about me, I have many hobbies, one of those includes photography. 
            I have been into photography for years now, I love the natural world and the beauty that can be found in the most unlikey of places 
        </p>
    </div>
        
    <div class = "center">
        <img src="assets/pizza.jpg" alt="food i've made" style="height:200px;">
        <img src="assets/pie.jpg" alt="food i've made" style="height:200px;">
        <img src="assets/Timbits.jpg" alt="food i've made" style="height:200px;">
        
        <p>Another thing about me is that I love to cook, I've made all sorts of foods but I
            prefer cooking italian food
        </p>
    </div>
</div>
</div> 

