
nav{
  text-align: center;
  border-bottom: 2px solid rgba(240, 248, 255,0.1);
  margin-bottom: 10px;
}

ul {
    display: inline-block;
    vertical-align: bottom;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;

    padding: clamp(8px, 2vw, 18px) clamp(10px, 3vw, 20px);
    font-size: clamp(15px, 2vw, 20px);

    border-radius: 5px;
    text-decoration: none;
    line-height: 1;
  }
  
  li a:hover {
    background-color: #4e50d3;
  }
  

.selected{
    background-color: #4143d0;
}
