<div class="cardBody center" [id]="slugify(project.name)">
  <div class="cardContent">
    <h2>{{project.name}}</h2>

    @if (hasGif) {
      @if (!gifLoaded) {
        <img class="image" [src]="project.pictures[0]" alt="screenshot" />
      }
      <img class="image" [src]="project.pictures[1]" alt="gif" [class.hidden]="!gifLoaded" (load)="onGifLoad()" />
    } @else {
      <img class="image" [src]="project.pictures[0]" alt="screenshot" />
      @if (project.pictures[1]) {
        <img class="image" [src]="project.pictures[1]" alt="screenshot" />
      }
    }


    <p>{{project.summary}}</p>
    <p>{{project.date}}</p>

  </div>

  <div class="skil-holder">
    @for (skill of project.skills; track skill) {
      <span>
        <app-skill-card [skill]="skill" [tiny] = true></app-skill-card>
      </span>
    }
  </div>

  <div class="btn-holder">
    @if (project.projectLink) {
      <a href="{{project.projectLink}}" target="_blank">
        <button class="btn">
          <span class="github-icon icon-background"></span>
          View More
        </button>
      </a>
    }

    @if (project.liveLink) {
      <a href="{{project.liveLink}}" target="_blank">
        <button class="btn">
          <span class="OpenInNew-icon icon-background"></span>
          Live Website
        </button>
      </a>
    }

  </div>

</div>