
.cardBody{
    min-width: 350px;
    max-width: 350px;
}

p{
    font-size: 15px;
}

.btn{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 8px;
}

.btn:hover{
    background-color: #00e490;
}

.image{
    max-width:300px;
    max-height:300px;
    min-width: 100px;
    min-height: 100px;
    
    border-radius: 6px;
    object-fit: cover; 
}


.icon-background{
    display:inline-block;
    height: 16px;
    width: 16px;
    -webkit-mask-size: cover;
    mask-size: cover;
    background: white;
}


.hidden {
  display: none;
}