.icon-background{
  height: 40px;
  width: 40px;
  -webkit-mask-size: 40px 40px;
  mask-size: 40px 40px;
  background: black;
  margin-bottom: 10px;
}

.icon-holder{
  background-color: lightblue;
  color: black;
  box-sizing: border-box;
  padding: 20px;

  min-width: 110px;
  max-width: 110px;

  height: 100%;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  margin: 2px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.tiny-icon-background{
  height: 20px;
  width: 20px;
  -webkit-mask-size: 20px 20px;
  mask-size: 20px 20px;
  background: black;
  margin-bottom: 0px;
}

.tiny-icon-holder{
  background-color: lightblue;
  color: black;
  box-sizing: border-box;
  padding: 10px;
  
  min-width: 45%;
  width: 100%;
  max-width: 150px;
  
  height: 100%;
  
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 40px;
  margin: 2px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}









.icon-holder:hover {
  transform: scale(1.05);
}

    