
<div class="container"> 

    <div class="btnContainer">
        <a href="../../assets/Resume.pdf" download = "Resume.pdf" target="_blank"> <button class="download btn">Download resume</button></a>
    </div>
    
    <div class="resume">

        <br>

        <h1>EDUCATION</h1>

        <div class="jobTitle">
            <h3>Bachelor of Science (Honours) Computer Science</h3>
            <span class="date">September 2021 - December 2025</span>
        </div>
        <div class="jobTitle">
            <h3>With concentration in Software Engineering</h3>
            <span class="date"> GPA: 3.6/4.0</span>
        </div>

        <h4>Brock University, St. Catharines, ON</h4>

        <h1>TECHNICAL SKILLS</h1>

        <ul>
            <li>Well versed in general applications involving Java and C++</li>
            <li>Keen understanding of web development using Javascript, HTML5, and CSS</li>
            <li>Proficient in Microsoft Power platform development, Power Automate, Power Apps, and Power BI</li>
            <li>Proficient in Object-Oriented programming along with a deep understanding of data structures and algorithms</li>
            <li>Understanding of relational databases with experience using PostgreSQL</li>
            <li>Keen understanding of computer hardware components</li>
            <li>Proficient with MS Office products including Word, PowerPoint and Excel</li>
            <li>Extensive proficiency using the Windows operating system</li>
            <li>Familiar with industrial design and manufacturing along with Autodesk inventor</li>
        </ul>

    
        <h1>WORK EXPERIENCE</h1>    

        <div class="jobTitle">
            <h3>IT Service Management integrator (Co-op)</h3>
            <span class="date">January 2023 - January 2024</span>
        </div>
        <h4>Ministry of Public and Business Service Delivery - St. Catharines, ON</h4>


        <ul>
            <li>Lead development on the “Service management digital portal” an in-house government website to
                promote cooperation between ministries by simplifying the process of creating
                service assessments.</li>
            <li>Using the power apps platform created and fully implemented several complex tables along with
                over 20 power automate flows to improve functionality</li>
            <li>Mentored fellow
                co-op students in MS Power platform development along with Web development</li>
            <li>Improved documentation for users and developers by created and editing over 100 pages of
                technical documentation including user guides</li>
            <li>Created over 50 custom Javascript functions to improve the functionality of the website. Along
                with improving the UI &amp; UX, these changes also brought the website up to
                government accessibility standards.</li>
        </ul>

       

        <div class="jobTitle">
            <h3>Secretary</h3>
            <span class="date">Summer 2021 & 2022</span>
        </div>
        <h4>Pack N Rail - Burlington, ON</h4>
                
<ul class="points">
    <li>Maintained office productivity by managing phones and emails, purchasing office equipment,
        creating invoices and purchase orders, filing paperwork and General IT/computer
        help</li>
    <li>Increased client retention by actively communicating with customers so our service could best
        suit their unique needs</li>
    <li>Increased productivity by reorganising the filing system to better reflect frequent
        access to archival purchase orders</li>
</ul>
       
        <div class="jobTitle">
            <h3>Freelance Landscaper</h3>
            <span class="date">Summer 2022</span>
        </div>
        <h4>Self employed - Burlington, ON</h4>
                
        <ul class="points">
            <li>Performed
                seasonal upkeep of existing landscaping by trimming, weeding and gardening to
                customers’ needs and requirements</li>
            <li>Increased
                productivity by analysing inefficiency and developing a more effective way to
                schedule tasks to better allocate time and labour </li>
            <li>Maintained
                equipment by cleaning and completing bi-weekly inspections to ensure the safety
                of staff</li>
        </ul>

       
        <h1>ACADEMIC ACHIEVEMENTS</h1>


        <div class="jobTitle">
            <h3>Dean's honours List</h3>
            <span class="date">2021 - 2025</span>
        </div>
        <h4>Brock University, St. Catharines, ON</h4>
      
        <div class="jobTitle">
            <h3>Scholars Award</h3>
            <span class="date">2021 - 2025</span>
        </div>
        <h4>Brock University, St. Catharines, ON</h4>

        <h1>CLUBS</h1>
      
        <div class="jobTitle">
            <h3>First Robotics Team Member</h3>
            <span class="date">2018 - 2021</span>
        </div>
        <h4>MM Robinson High School, Burlington, ON</h4>

        <ul class="points">
            <li>Mentored several underclassmen in the use of design software and machinery</li>
            <li>Implemented creative solutions to programming computer vision in autonomous driving routines along with simplifying control schemes to aid in driver comfort</li>
        </ul>
        
    </div>    
    
</div>
    


