/* You can add global styles to this file, and also import other style files */

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  padding: 0;
  }


  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.grid-container {
    display: grid;
    /*grid-template-columns: auto auto auto;*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
  }
  
  .grid-item {
    display: flex;
  }
  
  .center{
    text-align: center;
      justify-content: center;
  }


  .js-icon{
    -webkit-mask-image: url(assets/javascript-icon.svg);
    mask-image: url(assets/javascript-icon.svg);
  }

  .cpp-icon{
    -webkit-mask-image: url(assets/cplusplus-icon.svg);
    mask-image: url(assets/cplusplus-icon.svg);
  }

  .css-icon{
    -webkit-mask-image: url(assets/css3-icon.svg);
    mask-image: url(assets/css3-icon.svg);
  }

  .html-icon{
    -webkit-mask-image: url(assets/HTML5-icon.svg);
    mask-image: url(assets/HTML5-icon.svg);
  }

  .java-icon{
    -webkit-mask-image: url(assets/java-icon.svg);
    mask-image: url(assets/java-icon.svg);
  }

  .sql-icon{
    -webkit-mask-image: url(assets/mysql-icon.svg);
    mask-image: url(assets/mysql-icon.svg);
  }

  .angular-icon{
    -webkit-mask-image: url(assets/angular-icon.svg);
    mask-image: url(assets/angular-icon.svg);
  }

  .powerAuto-icon{
    -webkit-mask-image: url(assets/PowerA-icon.svg);
    mask-image: url(assets/PowerA-icon.svg);
  }

  .github-icon{
    -webkit-mask-image: url(assets/github-icon.svg);
    mask-image: url(assets/github-icon.svg);
  }

  .linkedin-icon{
    -webkit-mask-image: url(assets/linkedin-icon.svg);
    mask-image: url(assets/linkedin-icon.svg);
  }