body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color:white;
  }

  html{ 
    background: rgb(47,48,108);
    background: -moz-linear-gradient(137deg, rgba(47,48,108,1) , rgb(85,180,255,1) ) fixed;
    background: -webkit-linear-gradient(137deg, rgba(47,48,108,1) , rgba(85,180,255,1) ) fixed;
    background: linear-gradient(137deg, rgba(47,48,108,1) , rgba(85,180,255,1) ) fixed;
  }

  /*
    html{ 
    background: rgb(95,97,215);
    background: -moz-linear-gradient(137deg, rgba(95,97,215,1) , rgba(85,180,255,1) ) fixed;
    background: -webkit-linear-gradient(137deg, rgba(95,97,215,1) , rgba(85,180,255,1) ) fixed;
    background: linear-gradient(137deg, rgba(95,97,215,1) , rgba(85,180,255,1) ) fixed;
  }
  */

  .cardBody{
    box-shadow: 2px 2px 12px rgb(128, 128, 128,0.4);
    text-align: center;
    padding: 5px;
    background-color: rgba(240, 248, 255,0.1);
    border-radius: 10px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
  }
 

  .cardBody:hover {
    transform: scale(1.03);
  }


  .container {
    min-height: 100%;
    margin-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
  }

  .grid-container.same-Height {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
  }


.grid-container-four {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
  }

  .grid-item {
    display: flex;
    margin-bottom: 10px;
  }
  

  .center{
    text-align: center;
    justify-content: center;
  }

  .invisible{
    display: none;
  }

  .js-icon{
    -webkit-mask-image: url(assets/icons/javascript-icon.svg);
    mask-image: url(assets/icons/javascript-icon.svg);
  }

  .cpp-icon{
    -webkit-mask-image: url(assets/icons/cplusplus-icon.svg);
    mask-image: url(assets/icons/cplusplus-icon.svg);
  }

  .css-icon{
    -webkit-mask-image: url(assets/icons/css3-icon.svg);
    mask-image: url(assets/icons/css3-icon.svg);
  }

  .html-icon{
    -webkit-mask-image: url(assets/icons/HTML5-icon.svg);
    mask-image: url(assets/icons/HTML5-icon.svg);
  }

  .java-icon{
    -webkit-mask-image: url(assets/icons/java-icon.svg);
    mask-image: url(assets/icons/java-icon.svg);
  }

  .sql-icon{
    -webkit-mask-image: url(assets/icons/Postgresql-icon.svg);
    mask-image: url(assets/icons/Postgresql-icon.svg);
  }

  .angular-icon{
    -webkit-mask-image: url(assets/icons/angular-icon.svg);
    mask-image: url(assets/icons/angular-icon.svg);
  }

  .powerAuto-icon{
    -webkit-mask-image: url(assets/icons/PowerA-icon.svg);
    mask-image: url(assets/icons/PowerA-icon.svg);
  }


  .android-icon{
    -webkit-mask-image: url(assets/icons/android-icon.svg);
    mask-image: url(assets/icons/android-icon.svg);
  }


  .python-icon{
    -webkit-mask-image: url(assets/icons/python-icon.svg);
    mask-image: url(assets/icons/python-icon.svg);
  }


  .arduino-icon{
    -webkit-mask-image: url(assets/icons/arduino-icon.svg);
    mask-image: url(assets/icons/arduino-icon.svg);
  }

  .typescript-icon{
    -webkit-mask-image: url(assets/icons/typescript-icon.svg);
    mask-image: url(assets/icons/typescript-icon.svg);
  }


  .github-icon{
    -webkit-mask-image: url(assets/icons/github-icon.svg);
    mask-image: url(assets/icons/github-icon.svg);
  }

  .linkedin-icon{
    -webkit-mask-image: url(assets/icons/linkedin-icon.svg);
    mask-image: url(assets/icons/linkedin-icon.svg);
  }

  .node-icon{
    -webkit-mask-image: url(assets/icons/Node.js_logo.svg);
    mask-image: url(assets/icons/Node.js_logo.svg);
  }

  .git-icon{
    -webkit-mask-image: url(assets/icons/Git_icon.svg);
    mask-image: url(assets/icons/Git_icon.svg);
  }

  .react-icon{
    -webkit-mask-image: url(assets/icons/React-icon.svg);
    mask-image: url(assets/icons/React-icon.svg);
  }

  .numpy-icon{
    -webkit-mask-image: url(assets/icons/numpy-icon.svg);
    mask-image: url(assets/icons/numpy-icon.svg);
  }

  .sfml-icon{
    -webkit-mask-image: url(assets/icons/sfml-icon.svg);
    mask-image: url(assets/icons/sfml-icon.svg);
  }

  .OpenInNew-icon{
      -webkit-mask-image: url(assets/icons/OpenInNew-icon.svg);
      mask-image: url(assets/icons/OpenInNew-icon.svg);
  }