/* You can add global styles to this file, and also import other style files */

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color:white;
  }

  html{ 
    background: rgb(95,97,215);
    background: -moz-linear-gradient(137deg, rgba(95,97,215,1) , rgba(85,180,255,1) ) fixed;
    background: -webkit-linear-gradient(137deg, rgba(95,97,215,1) , rgba(85,180,255,1) ) fixed;
    background: linear-gradient(137deg, rgba(95,97,215,1) , rgba(85,180,255,1) ) fixed;
  }



  .gradient{
  background: rgb(9,9,121);
  background: -moz-radial-gradient(circle, rgba(9,9,121,1) 0%, rgba(1,142,255,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(9,9,121,1) 0%, rgba(1,142,255,1) 100%);
  background: radial-gradient(circle, rgba(9,9,121,1) 0%, rgba(1,142,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#090979",endColorstr="#018eff",GradientType=1);
  }

  .linear-gradient{
    background: rgb(27,27,161);
    background: -moz-linear-gradient(137deg, rgba(27,27,161,1), rgba(1,142,255,1)) fixed;
    background: -webkit-linear-gradient(137deg, rgba(27,27,161,1), rgba(1,142,255,1)) fixed;
    background: linear-gradient(137deg, rgba(27,27,161,1), rgba(1,142,255,1)) fixed;
  }



  .container {
    min-height: 100%;
    margin-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.grid-container {
    display: grid;
    /*grid-template-columns: auto auto auto;*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
  }
  
  .grid-item {
    display: flex;
  }
  
  .center{
    text-align: center;
      justify-content: center;
  }


  .js-icon{
    -webkit-mask-image: url(assets/javascript-icon.svg);
    mask-image: url(assets/javascript-icon.svg);
  }

  .cpp-icon{
    -webkit-mask-image: url(assets/cplusplus-icon.svg);
    mask-image: url(assets/cplusplus-icon.svg);
  }

  .css-icon{
    -webkit-mask-image: url(assets/css3-icon.svg);
    mask-image: url(assets/css3-icon.svg);
  }

  .html-icon{
    -webkit-mask-image: url(assets/HTML5-icon.svg);
    mask-image: url(assets/HTML5-icon.svg);
  }

  .java-icon{
    -webkit-mask-image: url(assets/java-icon.svg);
    mask-image: url(assets/java-icon.svg);
  }

  .sql-icon{
    -webkit-mask-image: url(assets/Postgresql-icon.svg);
    mask-image: url(assets/Postgresql-icon.svg);
  }

  .angular-icon{
    -webkit-mask-image: url(assets/angular-icon.svg);
    mask-image: url(assets/angular-icon.svg);
  }

  .powerAuto-icon{
    -webkit-mask-image: url(assets/PowerA-icon.svg);
    mask-image: url(assets/PowerA-icon.svg);
  }


  .android-icon{
    -webkit-mask-image: url(assets/android-icon.svg);
    mask-image: url(assets/android-icon.svg);
  }


  .python-icon{
    -webkit-mask-image: url(assets/python-icon.svg);
    mask-image: url(assets/python-icon.svg);
  }


  .arduino-icon{
    -webkit-mask-image: url(assets/arduino-icon.svg);
    mask-image: url(assets/arduino-icon.svg);
  }

  


  .github-icon{
    -webkit-mask-image: url(assets/github-icon.svg);
    mask-image: url(assets/github-icon.svg);
  }

  .linkedin-icon{
    -webkit-mask-image: url(assets/linkedin-icon.svg);
    mask-image: url(assets/linkedin-icon.svg);
  }



