
<div class="container">


<div class="home-grid-container">
    
    <div div class="left home-grid-item">
        <img src="assets/profile.jpg" alt="" width="250px" >

    </div>

    <div div class="right home-grid-item">
        
        <p>
            Hi I'm Nicholas Parise! A Computer science undergradute student at Brock university. 
            I'm Specialized in back-end development, machine learning and cyber security. 
            I'm continously focused on building creative and scalable solutions.

        <br><br>
        Areas of Interest</p>
        <ul>
            <li>AI / Machine learning</li>
            <li>Computer hardware</li>
            <li>Natural Language Processing</li>
            <li>Computer Architecture</li>
            <li>Computer Graphics</li>
            <li>Cyber security</li>
        </ul>

    </div>

    
</div>

<h1>Skills</h1>

<div class = "icon-grid-container">

    <div class = "icon-holder">
        <div class = " icon-background cpp-icon"></div>
        C++
    </div>

    <div class = "icon-holder">
        <div class = " icon-background java-icon"></div>
        Java
    </div>

    <div class = "icon-holder">
        <div class = " icon-background python-icon"></div>
        Python
    </div>

    <div class = "icon-holder">
        <div class = " icon-background sql-icon"></div>
        SQL
    </div>

    <div class = "icon-holder">
        <div class = " icon-background css-icon"></div>
        CSS
    </div>

    <div class = "icon-holder">
        <div class = " icon-background html-icon"></div>
        HTML
    </div>

    <div class = "icon-holder">
        <div class = " icon-background js-icon"></div>
        Javascript
    </div>

    <div class = "icon-holder">
        <div class = " icon-background angular-icon"></div>
        Angular
    </div>


    <div class = "icon-holder">
        <div class = " icon-background arduino-icon"></div>
        Arduino
    </div>
   

    <div class = "icon-holder">
        <div class = " icon-background android-icon"></div>
        Arduino
    </div>

    <div class = "icon-holder">
        <div class = " icon-background powerAuto-icon"></div>
        Automate
    </div>

</div>


<div class="home-grid-container">
    
    <div div class="home-grid-item">
        <h1>Featured project</h1>
    </div>

    <div div class="home-grid-item">
       <h2>{{featuredProject.name}}</h2>
       <img class = "image" src=" {{featuredProject.pictures[0]}}" alt="">
        <p>{{featuredProject.summary}}</p>
    </div>
</div>

</div>




