
<div class="container">


<div class="row">
    
    <div div class="column left">
        <img src="" alt="" width="250px" height="250px">

    </div>

    <div div class="column right">
        <p>
            Hi I'm Nicholas parise! A Computer science undergradute student at Brock university.
        </p>

        <p>Interests</p>
        <ul>
            <li>AI / Machine learning</li>
            <li>Computer hardware</li>
            <li>Natural Language Processing</li>
            
        </ul>

    </div>

    
  
</div>

<div class="row">
    
    <div div class="column left">
        <h2>Featured projects</h2>

    </div>

    <div div class="column right">
       <h4>{{featuredProject.name}}</h4>

    </div>


</div>

</div>




